//sass goes here

$board-side: 640px;

.board
{
	
	border-collapse: collapse;

	height: $board-side;
	width: $board-side;

	tbody
	{	}

	colgroup, tbody
	{

		border: solid medium;

	}

	.row
	{


		.tile
		{

			height: $board-side / 9;
			width: $board-side / 9;

			background: #f0f0f0;
			border: solid thin;
			text-align: center;

		}

	}

}